.app-header {
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 32px;
  border-bottom: 1px var(--light-grey) solid;
}

a {
  text-decoration: none;
}

.header-title {
  margin: 32px 0;
}

.header-title img {
  height: 60px;
  width: 220;
}
