footer {
  max-width: 1080px;
  margin: 0 auto;
  border-top: 1px var(--light-grey) solid;
  margin-top: 72px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.footer-image img {
  width: 52px;
}

.footer-text {
  font-size: 12px;
}
