.app-header {
  max-width: 1080px;
  margin: 0 auto;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}

.header-title img {
  width: 360px;
}



@media (max-width: 400px) {
  .header-title img {
    width: 320px;
  }
}
