.app-header {
  border-bottom: 2px var(--primary-color) solid;
}

.container {
  max-width: 1080px;
  min-height: 70vh;
  margin: 0 auto;
}

.item-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

@media (max-width: 720px) {
  .item-details {
    grid-template-columns: 1fr;
  }
}
